.sideMenu{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-image: linear-gradient(to right top, #206c72, #206970, #21676d, #21646b, #216268, #26666c, #2a6b71, #2f6f75, #397b81, #44878d, #4e9399, #59a0a6);
    padding: 20px 0;
    transition: 0.5s;
    z-index: 100;
    border: 1px solid black;
}
